<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Young Sinatra</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script async src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script async src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="header">
        <% if (pageNumber === 0) { %>
            <img src="/images/Logic_jumbotron.webp" alt="Logic">
        <% } else if (pageNumber === 1) { %>
            <img src="/images/Logic_jumbotron_albums.jpeg" alt="Logic">
        <% } else { %>
            <img src="/images/Logic_jumbotron_mixtapes.jpeg" alt="Logic">
        <% } %>
        <div class="opacity">
            <h1 class="ml-3">Logic</h1>
            <h1 class="mr-3">Young Sinatra</h1>
        </div>
    </div>
    <div class="navigation">
        <a href="/"><span class="active">Home</span></a>
        <a href="/albums"><span>Studio Albums</span></a>
        <a href="/mixtapes"><span>Mixtapes</span></a>
        <a href="/chat"><span>Chat</span></a>
        <a href="/feedback"><span>Feedback</span></a>
    </div>
    <div class="main-content py-5">
        <div class="card-container">
            <% albums.forEach(album => { %>
                <% if (albumPage) { %>
                    <a href="/album/<%= album.shortname %>">
                <% } else { %>
                    <a href="/mixtape/<%= album.shortname %>">
                <% } %>
                    <div class="card m-4" style="width: 18rem;">
                        <img src="<%= album.imgURL %>" class="card-img-top border-bottom border-3 border-white" alt="<%= album.name %>">
                        <div class="card-body">
                          <h5 class="card-title text-center"><%= album.name %></h5>
                          <p class="card-text text-center">Released: <%= album.publishDate %></p>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
    <div class="footer">
        <span>DC Band Application © 2022</span>
    </div>
</body>
</html>